@use "../mixins/responsive.scss" as *;
.card {
  box-shadow: 0 0 10px #00000043;
  border-radius: 5px;
  overflow: hidden;

  @include responsive(desktop) {
    display: grid;
    grid-template-columns: repeat(2, 318px);
    grid-template-rows: 216px 259px;
  }

  &__description {
    padding: 28px 24px 32px 24px;
    background-color: white;
    border-radius: 5px;

    @include responsive(desktop) {
      padding: 40px;
      grid-column: 1 / 3;
    }
  }
  &__price {
    background-color: var(--blue);

    padding: 24px;
  }

  &__dolar {
    margin-bottom: 4px;
  }

  &__info {
    background-color: var(--blue-light);
    padding: 24px 49px 24px 24px;
  }
}
